.row{
    display: flex;
    flex-wrap: wrap;
}

@each $p in(
    sm 576px,
    md 768px,
    lg 992px,
    xl 1200px
){
    @for $i from 1 through 12{
        @media (min-width: #{nth($p,2)}){
            .col-#{nth($p,1)}-#{$i}{
                flex-basis: 100%/12*$i;
                max-width: 100%/12*$i;
            }
        }
    }
}