extends ../layouts/layout.pug
include ../mixins/_article.pug
block title
    title Home
block main-content

    .container-fluid
        .title
            h1 HISTORY
            h3 WELCOME TO #[strong Aero car store]
        .row.img-text-content
            .col-sm-6
                .img-content
                    a(href="#")
                        img(src="https://cdn.shopify.com/s/files/1/3012/8606/files/img1.png?v=1519511006", alt="img-content")
            .col-sm-6
                .text-content
                    h3 MEET OUR
                    h2 CAR CLUB SINCE 1892
                    h6 CUSTOME AND CLUB
                    p Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.
                    p Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
                    .text-ct-img
                        h4.text-white JOHN DOE - CEO AERO
                        img(src="https://cdn.shopify.com/s/files/1/3012/8606/files/img2.png?v=1519511476", alt="img-txt")
        .row.img-hv-3
            .col-sm-4
                .img-ct-hv
                    a(href="#")
                        img(src="https://cdn.shopify.com/s/files/1/3012/8606/files/img1-top-aero1.jpg?v=1519512519", alt="img-hv")
                        span.text
                            span.text-1.text-white new collection
                            h4.text-2 New trending 2017 - 2018
                            span.text-3.text-white sale up to 20% off
            .col-sm-4
                .img-ct-hv
                    a(href="#")
                        img(src="https://cdn.shopify.com/s/files/1/3012/8606/files/img1-top-aero1.jpg?v=1519512519", alt="img-hv")
                        .text
                            span.text-1.text-white new collection
                            h4.text-2 New trending 2017 - 2018
                            span.text-3.text-white sale up to 20% off
            .col-sm-4
                .img-ct-hv
                    a(href="#")
                        img(src="https://cdn.shopify.com/s/files/1/3012/8606/files/img1-top-aero1.jpg?v=1519512519", alt="img-hv")
                        .text
                            span.text-1.text-white new collection
                            h4.text-2 New trending 2017 - 2018
                            span.text-3.text-white sale up to 20% off
    .container
        .img-hd
            .hd-text
                h2
                    .row.ic-text
                        i.fas.fa-star.text-white
                        span.text-white FEATURED PRODUCTS
                        i.fas.fa-star.text-white
            p Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
        .owl-carousel.owl-carousel-3sl.owl-theme.product-images-info
            .item.product-img-box
                .product-image
                    a(href="#").img-product
                        img(src="https://cdn.shopify.com/s/files/1/3012/8606/products/28-600x600_f42688fa-518e-48e4-9532-02e3532f7832_600x600.jpg?v=1519629332", alt="img-product")
                        img.img2(src="https://cdn.shopify.com/s/files/1/3012/8606/products/25-600x600_2bdda6a3-0326-4839-aa6f-1973965af2a9_600x600.jpg?v=1519629332", alt="img-product")
                    .icon-product
                        a(href="#")
                            i.far.fa-heart
                        a(href="#")
                            i.fas.fa-signal
                        a(href="#")
                            i.far.fa-eye
                    .sale-product -33%
                .product-info
                    .rating-box.row
                        span.row.icon-stars
                            i.far.fa-star
                            i.far.fa-star
                            i.far.fa-star
                            i.far.fa-star
                            i.far.fa-star
                        span.ratin-text No reviews
                    .product-name
                        a(href="#")
                            h4 KOPO DESIGNS WOOLRICH KLETTERSACK
                    .product-text
                        p Born to be worn. Clip on the worlds most wearable music player and take up to 240 songs with you anywhere. Choose from five colors including four new hues to...
                    .product-sale.row
                        span.bg-ic -33%
                        span $100.00
                        span $150.00
                    .btn.btn-primary.button ADD TO CARD
            .item.product-img-box
                .product-image
                    a(href="#").img-product
                        img(src="https://cdn.shopify.com/s/files/1/3012/8606/products/29-600x600_609aee1e-fee9-449d-a84e-02ebe5dde82a_600x600.jpg?v=1519629377", alt="img-product")
                        img.img2(src="https://cdn.shopify.com/s/files/1/3012/8606/products/26-600x600_4f1efbbe-63df-4a23-892c-b36ef7c1f7c7_600x600.jpg?v=1519629377", alt="img-product")
                    .icon-product
                        a(href="#")
                            i.far.fa-heart
                        a(href="#")
                            i.fas.fa-signal
                        a(href="#")
                            i.far.fa-eye
                    .sale-product -33%
                .product-info
                    .rating-box.row
                        span.row.icon-stars
                            i.far.fa-star
                            i.far.fa-star
                            i.far.fa-star
                            i.far.fa-star
                            i.far.fa-star
                        span.ratin-text No reviews
                    .product-name
                        a(href="#")
                            h4 KOPO DESIGNS WOOLRICH KLETTERSACK
                    .product-text
                        p Born to be worn. Clip on the worlds most wearable music player and take up to 240 songs with you anywhere. Choose from five colors including four new hues to...
                    .product-sale.row
                        span.bg-ic -33%
                        span $100.00
                        span $150.00
                    .btn.btn-primary.button ADD TO CARD
            .item.product-img-box
                .product-image
                    a(href="#").img-product
                        img(src="https://cdn.shopify.com/s/files/1/3012/8606/products/27-600x600_40e4464f-4348-466f-b41a-37f2d85057d1_600x600.jpg?v=1519629421", alt="img-product")
                        img.img2(src="https://cdn.shopify.com/s/files/1/3012/8606/products/30-600x600_2bfd0df3-27d5-48fe-856b-f234fecc4cbd_600x600.jpg?v=1519629421", alt="img-product")
                    .icon-product
                        a(href="#")
                            i.far.fa-heart
                        a(href="#")
                            i.fas.fa-signal
                        a(href="#")
                            i.far.fa-eye
                    .sale-product -33%
                .product-info
                    .rating-box.row
                        span.row.icon-stars
                            i.far.fa-star
                            i.far.fa-star
                            i.far.fa-star
                            i.far.fa-star
                            i.far.fa-star
                        span.ratin-text No reviews
                    .product-name
                        a(href="#")
                            h4 KOPO DESIGNS WOOLRICH KLETTERSACK
                    .product-text
                        p Born to be worn. Clip on the worlds most wearable music player and take up to 240 songs with you anywhere. Choose from five colors including four new hues to...
                    .product-sale.row
                        span.bg-ic -33%
                        span $100.00
                        span $150.00
                    .btn.btn-primary.button ADD TO CARD
            .item.product-img-box
                .product-image
                    a(href="#").img-product
                        img(src="https://cdn.shopify.com/s/files/1/3012/8606/products/1-600x600_600x600.jpg?v=1519628616", alt="img-product")
                        img.img2(src="https://cdn.shopify.com/s/files/1/3012/8606/products/9-600x600_600x600.jpg?v=1519628866", alt="img-product")
                    .icon-product
                        a(href="#")
                            i.far.fa-heart
                        a(href="#")
                            i.fas.fa-signal
                        a(href="#")
                            i.far.fa-eye
                    .sale-product -33%
                .product-info
                    .rating-box.row
                        span.row.icon-stars
                            i.far.fa-star
                            i.far.fa-star
                            i.far.fa-star
                            i.far.fa-star
                            i.far.fa-star
                        span.ratin-text No reviews
                    .product-name
                        a(href="#")
                            h4 KOPO DESIGNS WOOLRICH KLETTERSACK
                    .product-text
                        p Born to be worn. Clip on the worlds most wearable music player and take up to 240 songs with you anywhere. Choose from five colors including four new hues to...
                    .product-sale.row
                        span.bg-ic -33%
                        span $100.00
                        span $150.00
                    .btn.btn-primary.button ADD TO CARD
            .item.product-img-box
                .product-image
                    a(href="#").img-product
                        img(src="https://cdn.shopify.com/s/files/1/3012/8606/products/3-600x600_41086c79-e865-4c8c-aa93-15a03b384a3e_600x600.jpg?v=1519629502", alt="img-product")
                        img.img2(src="https://cdn.shopify.com/s/files/1/3012/8606/products/7-600x600_cd705e24-8ed7-40b3-bc16-12919bcb8199_600x600.jpg?v=1519629502", alt="img-product")
                    .icon-product
                        a(href="#")
                            i.far.fa-heart
                        a(href="#")
                            i.fas.fa-signal
                        a(href="#")
                            i.far.fa-eye
                    .sale-product -33%
                .product-info
                    .rating-box.row
                        span.row.icon-stars
                            i.far.fa-star
                            i.far.fa-star
                            i.far.fa-star
                            i.far.fa-star
                            i.far.fa-star
                        span.ratin-text No reviews
                    .product-name
                        a(href="#")
                            h4 KOPO DESIGNS WOOLRICH KLETTERSACK
                    .product-text
                        p Born to be worn. Clip on the worlds most wearable music player and take up to 240 songs with you anywhere. Choose from five colors including four new hues to...
                    .product-sale.row
                        span.bg-ic -33%
                        span $100.00
                        span $150.00
                    .btn.btn-primary.button ADD TO CARD

    .container-fluid
        .img-slide-2
            .owl-carousel.owl-carousel-sc.owl-theme.container.img-pd-2
                .item.slide-2-img
                    .img-slide
                        img(src="https://cdn.shopify.com/s/files/1/3012/8606/files/testimor1-64x64_64x64.png?v=1519513400", alt="img-2")
                    .text-box-img
                        a(href="#") This is Photoshops version  of Lorem Ipsum. Proin gravida nibh vel velit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie augue magna. Pellentesque felis lorem, pulvinar sed eros n..
                    h4 NATHANAEL JAWORSKI
                .item.slide-2-img
                    img(src="https://cdn.shopify.com/s/files/1/3012/8606/files/testimor1-64x64_64x64.png?v=1519513400", alt="img-2")
                    .text-box-img
                        a(href="#") This is Photoshops version  of Lorem Ipsum. Proin gravida nibh vel velit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie augue magna. Pellentesque felis lorem, pulvinar sed eros n..
                    h4 NATHANAEL JAWORSKI


    .container.ic-nav
        .img-hd
            .hd-text
                h2
                    .row.ic-text
                        i.fas.fa-star.text-white
                        span.text-white OUR PRODUCTS
                        i.fas.fa-star.text-white
            p Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
        
        ul.nav.nav-tabs.menu-tabs#myTab(role="tablist")
            li.nav-item
                a.nav-link.active#wheels-tab(data-toggle="tab" href="#wheels" role="tab" aria-controls="wheels" aria-selected="true") wheels
            li.nav-item
                a.nav-link#sounds-tab(data-toggle="tab" href="#sounds" role="tab" aria-controls="sounds" aria-selected="false") sounds
            li.nav-item
                a.nav-link#featured-tab(data-toggle="tab" href="#featured" role="tab" aria-controls="featured" aria-selected="false") featured
            li.nav-item
                a.nav-link#homepage-tab(data-toggle="tab" href="#homepage" role="tab" aria-controls="homepage" aria-selected="false") homepage

        .tab-content#myTabContent
            .tab-pane.fade.show.active#wheels(role="tabpanel" aria-labelledby="wheels-tab")
                .owl-carousel.owl-carousel-4sl.owl-theme.product-images-info
                    .item.product-img-box.animated.zoomIn
                        .product-image
                            a(href="#").img-product
                                img(src="https://cdn.shopify.com/s/files/1/3012/8606/products/28-600x600_f42688fa-518e-48e4-9532-02e3532f7832_600x600.jpg?v=1519629332", alt="img-product")
                                img.img2(src="https://cdn.shopify.com/s/files/1/3012/8606/products/25-600x600_2bdda6a3-0326-4839-aa6f-1973965af2a9_600x600.jpg?v=1519629332", alt="img-product")
                            .icon-product
                                a(href="#")
                                    i.far.fa-heart
                                a(href="#")
                                    i.fas.fa-signal
                                a(href="#")
                                    i.far.fa-eye
                            .sale-product -33%
                        .product-info
                            .rating-box.row
                                span.row.icon-stars
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                span.ratin-text No reviews
                            .product-name
                                a(href="#")
                                    h4 KOPO DESIGNS WOOLRICH KLETTERSACK
                            .product-sale.row
                                span.bg-ic -33%
                                span $100.00
                                span $150.00
                            .btn.btn-primary.button ADD TO CARD
                    .item.product-img-box.animated.zoomIn
                        .product-image
                            a(href="#").img-product
                                img(src="https://cdn.shopify.com/s/files/1/3012/8606/products/29-600x600_609aee1e-fee9-449d-a84e-02ebe5dde82a_600x600.jpg?v=1519629377", alt="img-product")
                                img.img2(src="https://cdn.shopify.com/s/files/1/3012/8606/products/26-600x600_4f1efbbe-63df-4a23-892c-b36ef7c1f7c7_600x600.jpg?v=1519629377", alt="img-product")
                            .icon-product
                                a(href="#")
                                    i.far.fa-heart
                                a(href="#")
                                    i.fas.fa-signal
                                a(href="#")
                                    i.far.fa-eye
                            .sale-product -33%
                        .product-info
                            .rating-box.row
                                span.row.icon-stars
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                span.ratin-text No reviews
                            .product-name
                                a(href="#")
                                    h4 KOPO DESIGNS WOOLRICH KLETTERSACK
                            .product-sale.row
                                span.bg-ic -33%
                                span $100.00
                                span $150.00
                            .btn.btn-primary.button ADD TO CARD
                    .item.product-img-box.animated.zoomIn
                        .product-image
                            a(href="#").img-product
                                img(src="https://cdn.shopify.com/s/files/1/3012/8606/products/27-600x600_40e4464f-4348-466f-b41a-37f2d85057d1_600x600.jpg?v=1519629421", alt="img-product")
                                img.img2(src="https://cdn.shopify.com/s/files/1/3012/8606/products/30-600x600_2bfd0df3-27d5-48fe-856b-f234fecc4cbd_600x600.jpg?v=1519629421", alt="img-product")
                            .icon-product
                                a(href="#")
                                    i.far.fa-heart
                                a(href="#")
                                    i.fas.fa-signal
                                a(href="#")
                                    i.far.fa-eye
                            .sale-product -33%
                        .product-info
                            .rating-box.row
                                span.row.icon-stars
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                span.ratin-text No reviews
                            .product-name
                                a(href="#")
                                    h4 KOPO DESIGNS WOOLRICH KLETTERSACK
                            .product-sale.row
                                span.bg-ic -33%
                                span $100.00
                                span $150.00
                            .btn.btn-primary.button ADD TO CARD
                    .item.product-img-box.animated.zoomIn
                        .product-image
                            a(href="#").img-product
                                img(src="https://cdn.shopify.com/s/files/1/3012/8606/products/1-600x600_600x600.jpg?v=1519628616", alt="img-product")
                                img.img2(src="https://cdn.shopify.com/s/files/1/3012/8606/products/9-600x600_600x600.jpg?v=1519628866", alt="img-product")
                            .icon-product
                                a(href="#")
                                    i.far.fa-heart
                                a(href="#")
                                    i.fas.fa-signal
                                a(href="#")
                                    i.far.fa-eye
                            .sale-product -33%
                        .product-info
                            .rating-box.row
                                span.row.icon-stars
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                span.ratin-text No reviews
                            .product-name
                                a(href="#")
                                    h4 KOPO DESIGNS WOOLRICH KLETTERSACK
                            .product-sale.row
                                span.bg-ic -33%
                                span $100.00
                                span $150.00
                            .btn.btn-primary.button ADD TO CARD

            .tab-pane.fade#sounds(role="tabpanel" aria-labelledby="sounds-tab")
                .owl-carousel.owl-carousel-4sl.owl-theme.product-images-info
                    .item.product-img-box.animated.zoomIn
                        .product-image
                            a(href="#").img-product
                                img(src="https://cdn.shopify.com/s/files/1/3012/8606/products/28-600x600_f42688fa-518e-48e4-9532-02e3532f7832_600x600.jpg?v=1519629332", alt="img-product")
                                img.img2(src="https://cdn.shopify.com/s/files/1/3012/8606/products/25-600x600_2bdda6a3-0326-4839-aa6f-1973965af2a9_600x600.jpg?v=1519629332", alt="img-product")
                            .icon-product
                                a(href="#")
                                    i.far.fa-heart
                                a(href="#")
                                    i.fas.fa-signal
                                a(href="#")
                                    i.far.fa-eye
                            .sale-product -33%
                        .product-info
                            .rating-box.row
                                span.row.icon-stars
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                span.ratin-text No reviews
                            .product-name
                                a(href="#")
                                    h4 KOPO DESIGNS WOOLRICH KLETTERSACK
                            .product-sale.row
                                span.bg-ic -33%
                                span $100.00
                                span $150.00
                            .btn.btn-primary.button ADD TO CARD
                    .item.product-img-box.animated.zoomIn
                        .product-image
                            a(href="#").img-product
                                img(src="https://cdn.shopify.com/s/files/1/3012/8606/products/29-600x600_609aee1e-fee9-449d-a84e-02ebe5dde82a_600x600.jpg?v=1519629377", alt="img-product")
                                img.img2(src="https://cdn.shopify.com/s/files/1/3012/8606/products/26-600x600_4f1efbbe-63df-4a23-892c-b36ef7c1f7c7_600x600.jpg?v=1519629377", alt="img-product")
                            .icon-product
                                a(href="#")
                                    i.far.fa-heart
                                a(href="#")
                                    i.fas.fa-signal
                                a(href="#")
                                    i.far.fa-eye
                            .sale-product -33%
                        .product-info
                            .rating-box.row
                                span.row.icon-stars
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                span.ratin-text No reviews
                            .product-name
                                a(href="#")
                                    h4 KOPO DESIGNS WOOLRICH KLETTERSACK
                            .product-sale.row
                                span.bg-ic -33%
                                span $100.00
                                span $150.00
                            .btn.btn-primary.button ADD TO CARD
                    .item.product-img-box.animated.zoomIn
                        .product-image
                            a(href="#").img-product
                                img(src="https://cdn.shopify.com/s/files/1/3012/8606/products/27-600x600_40e4464f-4348-466f-b41a-37f2d85057d1_600x600.jpg?v=1519629421", alt="img-product")
                                img.img2(src="https://cdn.shopify.com/s/files/1/3012/8606/products/30-600x600_2bfd0df3-27d5-48fe-856b-f234fecc4cbd_600x600.jpg?v=1519629421", alt="img-product")
                            .icon-product
                                a(href="#")
                                    i.far.fa-heart
                                a(href="#")
                                    i.fas.fa-signal
                                a(href="#")
                                    i.far.fa-eye
                            .sale-product -33%
                        .product-info
                            .rating-box.row
                                span.row.icon-stars
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                span.ratin-text No reviews
                            .product-name
                                a(href="#")
                                    h4 KOPO DESIGNS WOOLRICH KLETTERSACK
                            .product-sale.row
                                span.bg-ic -33%
                                span $100.00
                                span $150.00
                            .btn.btn-primary.button ADD TO CARD
                    .item.product-img-box.animated.zoomIn
                        .product-image
                            a(href="#").img-product
                                img(src="https://cdn.shopify.com/s/files/1/3012/8606/products/1-600x600_600x600.jpg?v=1519628616", alt="img-product")
                                img.img2(src="https://cdn.shopify.com/s/files/1/3012/8606/products/9-600x600_600x600.jpg?v=1519628866", alt="img-product")
                            .icon-product
                                a(href="#")
                                    i.far.fa-heart
                                a(href="#")
                                    i.fas.fa-signal
                                a(href="#")
                                    i.far.fa-eye
                            .sale-product -33%
                        .product-info
                            .rating-box.row
                                span.row.icon-stars
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                span.ratin-text No reviews
                            .product-name
                                a(href="#")
                                    h4 KOPO DESIGNS WOOLRICH KLETTERSACK
                            .product-sale.row
                                span.bg-ic -33%
                                span $100.00
                                span $150.00
                            .btn.btn-primary.button ADD TO CARD

            .tab-pane.fade#featured(role="tabpanel" aria-labelledby="featured-tab")
                .owl-carousel.owl-carousel-4sl.owl-theme.product-images-info
                    .item.product-img-box.animated.zoomIn
                        .product-image
                            a(href="#").img-product
                                img(src="https://cdn.shopify.com/s/files/1/3012/8606/products/28-600x600_f42688fa-518e-48e4-9532-02e3532f7832_600x600.jpg?v=1519629332", alt="img-product")
                                img.img2(src="https://cdn.shopify.com/s/files/1/3012/8606/products/25-600x600_2bdda6a3-0326-4839-aa6f-1973965af2a9_600x600.jpg?v=1519629332", alt="img-product")
                            .icon-product
                                a(href="#")
                                    i.far.fa-heart
                                a(href="#")
                                    i.fas.fa-signal
                                a(href="#")
                                    i.far.fa-eye
                            .sale-product -33%
                        .product-info
                            .rating-box.row
                                span.row.icon-stars
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                span.ratin-text No reviews
                            .product-name
                                a(href="#")
                                    h4 KOPO DESIGNS WOOLRICH KLETTERSACK
                            .product-sale.row
                                span.bg-ic -33%
                                span $100.00
                                span $150.00
                            .btn.btn-primary.button ADD TO CARD
                    .item.product-img-box.animated.zoomIn
                        .product-image
                            a(href="#").img-product
                                img(src="https://cdn.shopify.com/s/files/1/3012/8606/products/29-600x600_609aee1e-fee9-449d-a84e-02ebe5dde82a_600x600.jpg?v=1519629377", alt="img-product")
                                img.img2(src="https://cdn.shopify.com/s/files/1/3012/8606/products/26-600x600_4f1efbbe-63df-4a23-892c-b36ef7c1f7c7_600x600.jpg?v=1519629377", alt="img-product")
                            .icon-product
                                a(href="#")
                                    i.far.fa-heart
                                a(href="#")
                                    i.fas.fa-signal
                                a(href="#")
                                    i.far.fa-eye
                            .sale-product -33%
                        .product-info
                            .rating-box.row
                                span.row.icon-stars
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                span.ratin-text No reviews
                            .product-name
                                a(href="#")
                                    h4 KOPO DESIGNS WOOLRICH KLETTERSACK
                            .product-sale.row
                                span.bg-ic -33%
                                span $100.00
                                span $150.00
                            .btn.btn-primary.button ADD TO CARD
                    .item.product-img-box.animated.zoomIn
                        .product-image
                            a(href="#").img-product
                                img(src="https://cdn.shopify.com/s/files/1/3012/8606/products/27-600x600_40e4464f-4348-466f-b41a-37f2d85057d1_600x600.jpg?v=1519629421", alt="img-product")
                                img.img2(src="https://cdn.shopify.com/s/files/1/3012/8606/products/30-600x600_2bfd0df3-27d5-48fe-856b-f234fecc4cbd_600x600.jpg?v=1519629421", alt="img-product")
                            .icon-product
                                a(href="#")
                                    i.far.fa-heart
                                a(href="#")
                                    i.fas.fa-signal
                                a(href="#")
                                    i.far.fa-eye
                            .sale-product -33%
                        .product-info
                            .rating-box.row
                                span.row.icon-stars
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                span.ratin-text No reviews
                            .product-name
                                a(href="#")
                                    h4 KOPO DESIGNS WOOLRICH KLETTERSACK
                            .product-sale.row
                                span.bg-ic -33%
                                span $100.00
                                span $150.00
                            .btn.btn-primary.button ADD TO CARD
                    .item.product-img-box.animated.zoomIn
                        .product-image
                            a(href="#").img-product
                                img(src="https://cdn.shopify.com/s/files/1/3012/8606/products/1-600x600_600x600.jpg?v=1519628616", alt="img-product")
                                img.img2(src="https://cdn.shopify.com/s/files/1/3012/8606/products/9-600x600_600x600.jpg?v=1519628866", alt="img-product")
                            .icon-product
                                a(href="#")
                                    i.far.fa-heart
                                a(href="#")
                                    i.fas.fa-signal
                                a(href="#")
                                    i.far.fa-eye
                            .sale-product -33%
                        .product-info
                            .rating-box.row
                                span.row.icon-stars
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                span.ratin-text No reviews
                            .product-name
                                a(href="#")
                                    h4 KOPO DESIGNS WOOLRICH KLETTERSACK
                            .product-sale.row
                                span.bg-ic -33%
                                span $100.00
                                span $150.00
                            .btn.btn-primary.button ADD TO CARD
            
            .tab-pane.fade#homepage(role="tabpanel" aria-labelledby="homepage-tab")
                .owl-carousel.owl-carousel-4sl.owl-theme.product-images-info
                    .item.product-img-box.animated.zoomIn
                        .product-image
                            a(href="#").img-product
                                img(src="https://cdn.shopify.com/s/files/1/3012/8606/products/28-600x600_f42688fa-518e-48e4-9532-02e3532f7832_600x600.jpg?v=1519629332", alt="img-product")
                                img.img2(src="https://cdn.shopify.com/s/files/1/3012/8606/products/25-600x600_2bdda6a3-0326-4839-aa6f-1973965af2a9_600x600.jpg?v=1519629332", alt="img-product")
                            .icon-product
                                a(href="#")
                                    i.far.fa-heart
                                a(href="#")
                                    i.fas.fa-signal
                                a(href="#")
                                    i.far.fa-eye
                            .sale-product -33%
                        .product-info
                            .rating-box.row
                                span.row.icon-stars
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                span.ratin-text No reviews
                            .product-name
                                a(href="#")
                                    h4 KOPO DESIGNS WOOLRICH KLETTERSACK
                            .product-sale.row
                                span.bg-ic -33%
                                span $100.00
                                span $150.00
                            .btn.btn-primary.button ADD TO CARD
                    .item.product-img-box.animated.zoomIn
                        .product-image
                            a(href="#").img-product
                                img(src="https://cdn.shopify.com/s/files/1/3012/8606/products/29-600x600_609aee1e-fee9-449d-a84e-02ebe5dde82a_600x600.jpg?v=1519629377", alt="img-product")
                                img.img2(src="https://cdn.shopify.com/s/files/1/3012/8606/products/26-600x600_4f1efbbe-63df-4a23-892c-b36ef7c1f7c7_600x600.jpg?v=1519629377", alt="img-product")
                            .icon-product
                                a(href="#")
                                    i.far.fa-heart
                                a(href="#")
                                    i.fas.fa-signal
                                a(href="#")
                                    i.far.fa-eye
                            .sale-product -33%
                        .product-info
                            .rating-box.row
                                span.row.icon-stars
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                span.ratin-text No reviews
                            .product-name
                                a(href="#")
                                    h4 KOPO DESIGNS WOOLRICH KLETTERSACK
                            .product-sale.row
                                span.bg-ic -33%
                                span $100.00
                                span $150.00
                            .btn.btn-primary.button ADD TO CARD
                    .item.product-img-box.animated.zoomIn
                        .product-image
                            a(href="#").img-product
                                img(src="https://cdn.shopify.com/s/files/1/3012/8606/products/27-600x600_40e4464f-4348-466f-b41a-37f2d85057d1_600x600.jpg?v=1519629421", alt="img-product")
                                img.img2(src="https://cdn.shopify.com/s/files/1/3012/8606/products/30-600x600_2bfd0df3-27d5-48fe-856b-f234fecc4cbd_600x600.jpg?v=1519629421", alt="img-product")
                            .icon-product
                                a(href="#")
                                    i.far.fa-heart
                                a(href="#")
                                    i.fas.fa-signal
                                a(href="#")
                                    i.far.fa-eye
                            .sale-product -33%
                        .product-info
                            .rating-box.row
                                span.row.icon-stars
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                span.ratin-text No reviews
                            .product-name
                                a(href="#")
                                    h4 KOPO DESIGNS WOOLRICH KLETTERSACK
                            .product-sale.row
                                span.bg-ic -33%
                                span $100.00
                                span $150.00
                            .btn.btn-primary.button ADD TO CARD
                    .item.product-img-box.animated.zoomIn
                        .product-image
                            a(href="#").img-product
                                img(src="https://cdn.shopify.com/s/files/1/3012/8606/products/1-600x600_600x600.jpg?v=1519628616", alt="img-product")
                                img.img2(src="https://cdn.shopify.com/s/files/1/3012/8606/products/9-600x600_600x600.jpg?v=1519628866", alt="img-product")
                            .icon-product
                                a(href="#")
                                    i.far.fa-heart
                                a(href="#")
                                    i.fas.fa-signal
                                a(href="#")
                                    i.far.fa-eye
                            .sale-product -33%
                        .product-info
                            .rating-box.row
                                span.row.icon-stars
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                    i.far.fa-star
                                span.ratin-text No reviews
                            .product-name
                                a(href="#")
                                    h4 KOPO DESIGNS WOOLRICH KLETTERSACK
                            .product-sale.row
                                span.bg-ic -33%
                                span $100.00
                                span $150.00
                            .btn.btn-primary.button ADD TO CARD


    .container-fluid
        .row
            .col-sm-12.col-md-6.img-hv-ct
                .img-hover-ct
                    a(href="#")
                        img(src="https://cdn.shopify.com/s/files/1/3012/8606/files/img1-bottom-aero1.jpg?v=1519514057", alt="img-ct")
                    .text-hv-ct
                        h6.text-hv-1 NEW ARIVALS
                        h3.text-hv-2 GOOD HELP & GUARD
                        p.text-hv-3 Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros
                        span.text-hv-4 view collection
            .col-sm-12.col-md-6.img-hv-ct
                .img-hover-ct
                    a(href="#")
                        img(src="https://cdn.shopify.com/s/files/1/3012/8606/files/img2-bottom-aero1.jpg?v=1519514074", alt="img-ct")
                    .text-hv-ct
                        h6.text-hv-1 NEW ARIVALS
                        h3.text-hv-2 TOP 10 VEHICLES OFF WEEK
                        p.text-hv-3 Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros
                        span.text-hv-4 view collection



        .row.container.m-auto.text-ic-ct
            .col-sm-12.col-md-4
                .text-icon-ct
                    h3.text-white FREE DELIVERY
                    p Nam liber tempor cum soluta nobis eleifend option congue.
                    i.fas.fa-space-shuttle
            .col-sm-12.col-md-4
                .text-icon-ct
                    h3.text-white MONEY GUARANTEE
                    p Nam liber tempor cum soluta nobis eleifend option congue.
                    i.fas.fa-money-bill-alt
            .col-sm-12.col-md-4
                .text-icon-ct
                    h3.text-white ONLINE SUPPORT
                    p Nam liber tempor cum soluta nobis eleifend option congue.
                    i.fas.fa-headphones

    .container
        .img-hd
            .hd-text
                h2
                    .row.ic-text
                        i.fas.fa-star.text-white
                        span.text-white LATEST BLOG POST
                        i.fas.fa-star.text-white
            p Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
        .owl-carousel.owl-carousel-t.owl-theme.img-text-art
            .item.bd-ta
                .row.img-tx
                    .img-tx-i.col-md-6.col-sm-12
                        img(src="https://cdn.shopify.com/s/files/1/3012/8606/articles/post1-270x334_270x334.jpg?v=1519516270", alt="img")
                    .text-tx.col-md-6.col-sm-12
                        h3 24#[span /FEB]
                        h6 #[a(href="#") ClARITAS EST ETIAM PROCESSUS DYNAMICUS. ]
                        p.icon-p Posted By: #[span Aero-Theme Admin]
                        hr
                        p Lorem ipsum dolor sit amet. Integer adipiscing erat llentesque s sollicitudin pellentesque et non erat....
                        button.btn.btn-secondary.btn-text READ MORE
            .item.bd-ta
                .row.img-tx
                    .img-tx-i.col-md-6.col-sm-12
                        img(src="https://cdn.shopify.com/s/files/1/3012/8606/articles/post2-270x334_270x334.jpg?v=1519516260", alt="img")
                    .text-tx.col-md-6.col-sm-12
                        h3 24#[span /FEB]
                        h6 #[a(href="#") ClARITAS EST ETIAM PROCESSUS DYNAMICUS. ]
                        p.icon-p Posted By: #[span Aero-Theme Admin]
                        hr
                        p Lorem ipsum dolor sit amet. Integer adipiscing erat llentesque s sollicitudin pellentesque et non erat....
                        button.btn.btn-secondary.btn-text READ MORE
        .img-hd
            .hd-text
                h2
                    .row.ic-text
                        span.text-white # WE ON INSTAGRAM
            p How us how you are styling your Rare pieces on Instagram with the hashtag #Presiden.
        .owl-carousel.owl-carousel-ft.owl-theme.slide-img-6.animated.zoomIn
            .item.img-6
                a(href="#")
                    img(src="https://scontent.cdninstagram.com/vp/aa631eb1ac859526f9cb105872dba981/5D21A2BE/t51.2885-15/e35/28433877_174246876704653_6129362332226158592_n.jpg?_nc_ht=scontent.cdninstagram.com", alt="img-slide")
            .item.img-6
                a(href="#")
                    img(src="https://scontent.cdninstagram.com/vp/7e7d86baf5a63cd0c5bd2f13ff564e7e/5D06E029/t51.2885-15/e35/28753050_1571838102865908_1257539507708755968_n.jpg?_nc_ht=scontent.cdninstagram.com", alt="img-slide")
            .item.img-6
                a(href="#")
                    img(src="https://scontent.cdninstagram.com/vp/55879137d7788e50a0234520e1f31ce2/5D0CDF1E/t51.2885-15/e35/28763270_379985002475674_7263050968986550272_n.jpg?_nc_ht=scontent.cdninstagram.com", alt="img-slide")
            .item.img-6
                a(href="#")
                    img(src="https://scontent.cdninstagram.com/vp/397922498277076e6416df7a171316db/5D0A343A/t51.2885-15/e35/28751664_235339833679497_6588873891018440704_n.jpg?_nc_ht=scontent.cdninstagram.com", alt="img-slide")
            .item.img-6
                a(href="#")
                    img(src="https://scontent.cdninstagram.com/vp/5f92d0fd4fa72ee37f3e81a0620843a3/5D18A9B9/t51.2885-15/e35/28433217_1705127166274989_370045255417856000_n.jpg?_nc_ht=scontent.cdninstagram.com", alt="img-slide")
            .item.img-6
                a(href="#")
                    img(src="https://scontent.cdninstagram.com/vp/6cbf9de46e30ffcfb7cf18e8d9a33e4a/5D1DD495/t51.2885-15/e35/28435427_2074162839291231_444774568221999104_n.jpg?_nc_ht=scontent.cdninstagram.com", alt="img-slide")
        .img-hd
            .hd-text
                h2
                    .row.ic-text
                        span.text-white LOGO BRANDS & CLIENTS
        .owl-carousel.owl-carousel-bt.owl-theme.slide-img-bt
            .item.img-bt.animated.zoomIn
                a(href="#")
                    img(src="https://cdn.shopify.com/s/files/1/3012/8606/files/br-03_210x100.png?v=1520968703", alt="img-bt")
            .item.img-bt.animated.zoomIn
                a(href="#")
                    img(src="https://cdn.shopify.com/s/files/1/3012/8606/files/br-02_210x100.png?v=1520968759", alt="img-bt")
            .item.img-bt.animated.zoomIn
                a(href="#")
                    img(src="https://cdn.shopify.com/s/files/1/3012/8606/files/br-01_210x100.png?v=1520968771", alt="img-bt")
            .item.img-bt.animated.zoomIn
                a(href="#")
                    img(src="https://cdn.shopify.com/s/files/1/3012/8606/files/br-06_210x100.png?v=1520968630", alt="img-bt")
            .item.img-bt.animated.zoomIn
                a(href="#")
                    img(src="https://cdn.shopify.com/s/files/1/3012/8606/files/br-05_210x100.png?v=1520968676", alt="img-bt")
            .item.img-bt.animated.zoomIn
                a(href="#")
                    img(src="https://cdn.shopify.com/s/files/1/3012/8606/files/br-04_210x100.png?v=1520968692", alt="img-bt")
        hr(style="background-color: #5a6069; margin-top: 30px")
        .box-ft
            .text-heading
                h6 SPECIAL OFERS FOR SUBSCRIBERS
                h3.text-white TEN PERCENT MEMBER DISCOUNT
                p Subscribe to our newsletters now and stay up to date with new collections, the latest lookbooks and exclusive offers.
            .form-bt
                form.form-inline.form-bt-w
                    input.form-control.mr-sm-2(type="search" placeholder="Email Address" aria-label="Search")
                    button.btn.btn-outline-success.my-2.my-sm-0(type="submit")
                        i.text-white.fas.fa-angle-right
