footer
    .footer
        .row.foot-top
            .col-sm-12.col-md-4.foot-left
                .logo-ft
                    a(href="#")
                        img(src="https://cdn.shopify.com/s/files/1/3012/8606/files/logo-aero1.png?v=1519058255", alt="logo")
                p.text-ft We are a team of designers and developers who creates high quality multipurpose and responsive premium Shopify themes.
                .list-foot
                    .row.list-iconlft
                        .icon-ft
                            i.red.fas.fa-map-marker-alt 
                        p.text-white #[span Address :]No 40 Baria Sreet 133/2, NewYork, USA.
                    .row
                        .icon-ft
                            i.red.fas.fa-mobile-alt
                        p.text-white #[span Phone :]+(012) 800 456 789
                    .row
                        .icon-ft.mg-l
                            i.red.fas.fa-envelope-square
                        p.text-white #[span Email :]Infor@aero.com
            .col-sm-6.col-md-2.bd-l
                .foot-r
                    h3.text-white MAIN MENU
                    ul
                        li
                            a(href="") Home
                        li
                            a(href="") Shop
                        li
                            a(href="") Layouts
                        li
                            a(href="") Blog
                        li
                            a(href="") Pages
            .col-sm-6.col-md-2.bd-l
                .foot-r
                    h3.text-white MAIN MENU
                    ul
                        li
                            a(href="") Home
                        li
                            a(href="") Shop
                        li
                            a(href="") Layouts
                        li
                            a(href="") Blog
                        li
                            a(href="") Pages
            .col-sm-6.col-md-2.bd-l
                .foot-r
                    h3.text-white MAIN MENU
                    ul
                        li
                            a(href="") Home
                        li
                            a(href="") Shop
                        li
                            a(href="") Layouts
                        li
                            a(href="") Blog
                        li
                            a(href="") Pages
            .col-sm-6.col-md-2.bd-l
                .foot-r
                    h3.text-white MAIN MENU
                    ul
                        li
                            a(href="") Home
                        li
                            a(href="") Shop
                        li
                            a(href="") Layouts
                        li
                            a(href="") Blog
                        li
                            a(href="") Pages
        .row.foot-bot
            .col-sm-12.col-md-4
                .copy-right
                    span copyright &copy 2017 #[a(href="#") MassTechnologist.Com. ] All Rights Reserved.
            .col-sm-12.col-md-4
                ul.row.list-icon-ft
                    li
                        a(href="#")
                            i.fab.fa-facebook-f
                    li
                        a(href="#")
                            i.fab.fa-twitter
                    li
                        a(href="#")
                            i.fab.fa-pinterest
                    li
                        a(href="#")
                            i.fab.fa-google-plus-g
                    li
                        a(href="#")
                            i.fab.fa-instagram
            .col-sm-12.col-md-4.logo-ft-b
                a(href="#")
                    img(src="https://cdn.shopify.com/s/files/1/3012/8606/files/payment.png?v=1519662556", alt="logo")