#carouselExampleFade.carousel.slide.carousel-fade(data-ride="carousel")
    ol.carousel-indicators.icon-ct
        li(data-target="#carouselExampleFade" data-slide-to="0").active
        li(data-target="#carouselExampleFade" data-slide-to="1")
        li(data-target="#carouselExampleFade" data-slide-to="2")
    .carousel-inner
        .carousel-item.active
            a(href="#")
                img(src="https://cdn.shopify.com/s/files/1/3012/8606/files/slider1-aero1-1920x846_1920x846.jpg?v=1519055942" class="d-block w-100" alt="shopify")
        .carousel-item
            a(href="#")
                img(src="https://cdn.shopify.com/s/files/1/3012/8606/files/slider2-aero1-1920x846_1920x846.jpg?v=1519055928" class="d-block w-100" alt="shopify")
        .carousel-item
            a(href="#")
                img(src="https://cdn.shopify.com/s/files/1/3012/8606/files/slider3-aero1-1920x846_1920x846.jpg?v=1519055913" class="d-block w-100" alt="shopify")
    a.carousel-control-prev.circle-hv.ps-left(href="#carouselExampleFade" role="button" data-slide="prev")
        span.carousel-control-prev-icon(aria-hidden="true")
        span.sr-only Previous
    a.carousel-control-next.circle-hv.ps-right(href="#carouselExampleFade" role="button" data-slide="next")
        span.carousel-control-next-icon(aria-hidden="true")
        span.sr-only Next
.bg-black.border-bt.nav.row
    .img-logo-menu
        .logo-nav
            a(href="#")
                img(src="https://cdn.shopify.com/s/files/1/3012/8606/files/logo-aero1.png?v=1519058255", alt="logo")
    .col
        nav.navbar.navbar-expand-lg.navbar-light.menunav
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon.icon-res
            .collapse.navbar-collapse#navbarNavAltMarkup
                ul.nav.navbar-nav
                    li.nav-item.dropdown.bg-bf
                        a.nav-link.active.text-white(href="#") HOME
                            i.fas.fa-angle-down
                        .dropdown-content
                            a.dropdown-item(href="#") Home1
                            a.dropdown-item(href="#") Home2
                            a.dropdown-item(href="#") Home3
                            a.dropdown-item(href="#") Home4
                    li.nav-item.dropdown.bg-bf
                        a.nav-link.text-white(href="#") SHOPS
                            i.fas.fa-angle-down
                        .dropdown-content.d-inline-flex.ps-left
                            .dropdown-content-sub
                                a.dropdown-item.ropdown-header.hd-item(href="#") WHEELS
                                a.dropdown-item(href="#") Home
                                a.dropdown-item(href="#") Shop
                                a.dropdown-item(href="#") Layouts
                                a.dropdown-item(href="#") Blog
                                a.dropdown-item(href="#") Pages
                            .dropdown-content-sub
                                a.dropdown-item.dropdown-header.hd-item(href="#") WHEELS
                                a.dropdown-item(href="#") Home
                                a.dropdown-item(href="#") Shop
                                a.dropdown-item(href="#") Layouts
                                a.dropdown-item(href="#") Blog
                                a.dropdown-item(href="#") Pages
                            .dropdown-content-sub
                                a.dropdown-item.dropdown-header.hd-item(href="#") WHEELS
                                a.dropdown-item(href="#") Home
                                a.dropdown-item(href="#") Shop
                                a.dropdown-item(href="#") Layouts
                                a.dropdown-item(href="#") Blog
                                a.dropdown-item(href="#") Pages
                            .dropdown-content-sub
                                a.dropdown-item.dropdown-header.hd-item(href="#") WHEELS
                                a.dropdown-item(href="#") Home
                                a.dropdown-item(href="#") Shop
                                a.dropdown-item(href="#") Layouts
                                a.dropdown-item(href="#") Blog
                                a.dropdown-item(href="#") Pages
                    li.nav-item.dropdown.bg-bf
                        a.nav-link.text-white(href="#") LAYOUTS
                            i.fas.fa-angle-down
                        .dropdown-content.d-inline-flex.bd-3
                            .dropdown-content-sub
                                a.dropdown-item.dropdown-header.hd-item(href="#") COLLECTION LAYOUTS
                                a.dropdown-item(href="#") Home
                                a.dropdown-item(href="#") Shop
                                a.dropdown-item(href="#") Layouts
                                a.dropdown-item(href="#") Blog
                            .dropdown-content-sub
                                a.dropdown-item.dropdown-header.hd-item(href="#") PRODUCT LAYOUTS
                                a.dropdown-item(href="#") Home
                                a.dropdown-item(href="#") Shop
                                a.dropdown-item(href="#") Layouts
                                a.dropdown-item(href="#") Blog
                    li.nav-item.bg-bf
                        a.nav-link.text-white(href="#") BLOG
                    li.nav-item.dropdown.bg-bf
                        a.nav-link.text-white(href="#") PAGES
                            i.fas.fa-angle-down
                        .dropdown-content
                            a.dropdown-item(href="#") CONTACT US
                            a.dropdown-item(href="#") BLOG
                            a.dropdown-item(href="#") CART
                            a.dropdown-item(href="#") CHECKOUT
                            a.dropdown-item(href="#") WISHLIST
                            a.dropdown-item(href="#") LOGIN
                            a.dropdown-item(href="#") REGISTER
                            a.dropdown-item(href="#") 404
    .col-sm-4.col-md-3.dropdown-menu-3
        .dropdown.pd-3.dropleft
            button.dropdown-toggle#dropdownMenuButton(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                i.fas.fa-search
            .dropdown-menu(aria-labelledby="dropdownMenuButton")
                form.form-inline.form-drop(action="/action_page.php")
                    input.form-control.mr-sm-2(type="text" placeholder="Search...")
                    button.btn.btn-success(type="submit")
                        i.fas.fa-search



        .dropdown.pd-3.dropleft
            button.dropdown-toggle#dropdownMenuButton(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                i.fas.fa-bars
            .dropdown-menu.drop-hd(aria-labelledby="dropdownMenuButton")
                h5.dropdown-header My Account 
                .dropdown-divider
                a.dropdown-item(href="#") Sign In
                a.dropdown-item(href="#") Register
                a.dropdown-item(href="#") Wish list
                a.dropdown-item(href="#") Cart
                h5.dropdown-header Dropdown header
                .dropdown-divider
                a.dropdown-item(href="#") USD
                a.dropdown-item(href="#") EUR
                a.dropdown-item(href="#") GBP
                a.dropdown-item(href="#") PKR
                a.dropdown-item(href="#") CAD
                a.dropdown-item(href="#") JPY



        .dropdown.pd-3.dropleft
            button.dropdown-toggle#dropdownMenuButton(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                i.fas.fa-shopping-cart
                    span.number-sp 0
            .dropdown-menu.dr-p(aria-labelledby="dropdownMenuButton") 
                li.text-drop Your shopping cart is empty!
                
                